spark-apps/
target/
project/

hs_err_pid*


out/
.idea/
*.iml
*.ipr
*.iws

.DS_Store


Icon


._*

*.class


*.jar
*.war
*.ear


hs_err_pid*


.idea/
*/.idea/


*.ipr
*.iws
*.iml

## Additional for IntelliJ
out/
.out*
.dist

#
logs
*.log


.classpath
.dist
*/src/main/generated
*/src/generated
